//Variables

//Colors
// Primary
$clr-primary-1: hsl(217, 28%, 15%);
$clr-primary-2: hsl(218, 28%, 13%);
$clr-primary-3: hsl(216, 53%, 9%);
$clr-primary-4: hsl(219, 30%, 18%);
// Accent
$clr-accent-1: hsl(177, 67%, 63%);
$clr-accent-2: hsl(198, 60%, 50%);
$clr-accent-3: hsl(0, 100%, 63%);
// Neutral
$clr-white: hsl(0, 0%, 100%);

// Font-size
$fs-body: 0.875rem;

// Font-Family
$ff-heading: "Raleway", sans-serif;
$ff-body: "Open Sans", sans-serif;

// Font-Weights
$fw-400: 400;
$fw-700: 700;

// Screen break-points
$large-phone: 767px;
$tablet: 768px;
$desktop: 1200px;
$desktop-large: 1400px;
